/* -- basic styles ----*/
body {

    font-family: open sans, san serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

/* --- welcome styles ----*/

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 15px;

}

.flex-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.welcome-img {
    width: 100%;
    align-self: center;
    max-width: 600px;

}

/* --- 4 column styles ----*/

.picturescenter {
    width: 100%;
}

.words-container {
    background-color: #006075;
    color: white;
    width: 100%;
}

.btn {
    background-color: #F2F2F2;
    border-radius: 2px;
    color: #006075;
    font-weight: bold;
}

a {
    color: #006075;
}

/* --- quote styles ----*/

#quote {
    background-image: url(./images/bottom-bground.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}


#quote h4 {
    font-size: 28px;
}

#quote p {
    font-size: 1em;
}

/* --- tag styles ----*/
.twittertag {
    background-color: #002C5C;
    color: white;
}

.twittertag h2 {
    text-align: center;
    font-size: 25px;
}


@media (min-width: 640px) {


    .flex-container {
        flex-direction: row;
    }

    .flex-items {
        align-items: self-start;
        flex: 1;
    }

    .welcome-img {
        flex: 1;
    }

    .flex-container h1 {
        width: 70%;
        font-size: 24px
    }

    .flex-container p {
        width: 70%;
        font-size: 16px;
    }

    .picturescenter {
        flex: 1;
    }

    .words-container {
        flex: 1;
        align-self: stretch;
    }


    /* --- quote styles ----*/
    #quote {
        min-height: 300px;
    }

    #quote .flex-items {
        margin: 20px;
        padding: 0;
    }

    #quote h4 {
        font-size: 30px;
    }

    #quote p {
        font-size: 16px;
        width: 79%;
        text-align: center;

    }

    #quote .date p {
        font-weight: bold;
        font-size: 16px;
        padding-right: 20px;
        margin: 0;
        width: 100%;
    }

    .twittertag h2 {
        font-size: 48px;

    }


}