* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	overflow: auto;
	color: #002C5C;
}

#sidenav {
	display: none;
}

#contact .containerstyle {
	width: 100vw;
	height: 100%;
}

#contact .containerstyle .top {
	background-color: #f2f2f2;
}

#contact .containerstyle .top .navbar1 {
	display: none;
}

#contact .containerstyle .top .logo {
	display: inline-block;
	margin-left: 7%;
}

#contact .containerstyle .top .logo p {
	padding: 15px;
	background-color: #002C5C;
	color: #fff;
	font-style: italic;
	font-weight: Bold;
	font-family: open Sans;
}

#contact .containerstyle .top .nav {
	display: inline-block;
	margin-left: 450px;
	width: 50%;
}

.nav .navbar li {
	display: inline-block;
	padding: 10px;
	margin-left: 40px;
	text-decoration: none;
}

.navbar .close {
	visibility: hidden;
}

.nav .navbar li a {
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 5px;
}

#contact .containerstyle .top .nav .navbar li a:active,
#contact .containerstyle .top .nav .navbar li a:hover {
	color: #002C5C;
	border-bottom: 2px solid #002C5C
}

.imgBody img {
	width: 100%;
	height: 30%;
}

.body {
	margin-left: 7%;
	margin-top: 100px;
	width: 80%;
}

.body h2 {
	margin: 20px 0;
	font-weight: bold;
}

.body h3 {
	margin-top: 20px;
	font-weight: bold;
}

.body .info p {
	margin: 20px 0;
}

.body .info2 h3 {
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 10px;
}

.body .info2 p {
	margin: 5px 0;
}

.body .info2 p span {
	text-decoration: underline;
}

.body .info3 h3 {
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 10px;
}

.body .info3 p {
	margin: 5px 0;
}

.body .info3 p a {
	color: #002C5C;
}

.body .info3 {
	margin-bottom: 100px;
}

.icon i {
	color: white;
}



@media only screen and (max-width: 375px) {

	#contact .containerstyle .top .navbar1 {
		display: inline-block;
		margin-left: 4%;
	}

	#contact .containerstyle .top .nav {
		display: none;
	}

	#sidenav {
		display: block;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	#sidenav li a {
		padding: 8px 8px 8px 32px;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
		text-decoration: none;
	}

	.navbar .close {
		visibility: show;
	}

	#sidenav .close {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;

	}

	.containerstyle {
		transition: margin-left .5s;
	}
}