body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.president{
    background-color: #002c5c;
    margin-left: -35px;
    padding: 0;
}
.blue{
    background-color: #002c5c;
}
section{
    font-family: 'Open Sans', sans-serif;
}